*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 3px;
}
body {
  background-color: white;
  font-family: sans-serif;
}
.nav-container {
  background-color: #fff6ee;
  position: sticky;
  top: 0;
}
.nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  width: 100%;
}
.menu-bar {
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: black;
  /* border: 1px solid green; */
  width: max-content;
  font-weight: 600;
}
.menu-bar ul li {
  margin: 10px;
  padding: 10px;
  /* border: 1px solid red; */
  transition: all 3s ease-in;
}
.menu-bar ul li a {
  text-decoration: none;
  color: inherit;
}
.sub-menu1 {
  display: none;
}
.menu-bar ul li:hover .sub-menu1 {
  display: block;
  position: absolute;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: -15px;
  background-color: #fff;
}
.sub-menu1 ul {
  display: block;
}
.sub-menu ul li {
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.logo-link-to-home {
  margin-left: -7.5%;
  margin-right: 7.5%;
}
.apply-link {
  margin-left: 7.5%;
  margin-right: -5%;
}
.apply-link button {
  border: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 20px 35px;
  background-color: black;
  color: white;
  transition: all 2s ease;
  cursor: pointer;
}

.apply-link button:hover {
  box-shadow: 1px 3px;
  opacity: 0.6;
}

.announcement {
  background-color: #6772e5;
  font: 14px EuclidRegular, sans-serif;
  text-align: center;
  color: #ffffff;
  margin: 25px 0 0;
  padding: 10px;
  clear: both;
}
.announcement a {
  text-decoration: none;
  color: #ffffff;
  font: 14px EuclidRegular, sans-serif;
}
.typical-animation {
  font: 51px AlmarenaDisplayBold, sans-serif;
  color: #0f0f19;
  justify-content: center;
  text-align: center;
}
.typical-animation .typical {
  color: #6772e5;
}

.p1 {
  /* border: 1px solid red; */
  width: 600px;
  text-align: center;
  align-items: center;
  margin: auto;
  font: 22px AlmarenaDisplayLight, sans-serif;
  color: #0f0f19;
  padding: 20px 0 0;
}

.apply-div {
  width: max-content;
  /* border: 1px solid red; */
  margin: 50px auto;
}
.apply-div a button {
  border: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 20px 35px;
  background-color: black;
  color: white;
  transition: all 2s ease;
  cursor: pointer;
}
.apply-div a button:hover {
  box-shadow: 1px 3px;
  opacity: 0.6;
}
.dollar {
  background-color: #ffffff;
  padding: 10px;
  width: max-content;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  font: 12.8px AlmarenaBold, sans-serif;
  font-weight: 750;
}
.header {
  padding-top: 70px;
  padding-bottom: 70px;
  margin-bottom: 10px;
  background-color: #fff6ee;
}
.info-container {
  background-color: #ffffff;
  padding-top: 65px;
}
.info-container .partnership {
  font: 20.8px AlmarenaDisplayRegular, sans-serif;
  color: #000000;
  text-align: center;
  margin-bottom: 20.8px;
}
.info-container .github {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20.8px;
}
.info-container .verification-text {
  font: 20.8px AlmarenaDisplayRegular, sans-serif;
  color: #000000;
  text-align: center;
  margin-bottom: 20.8px;
}
.info-container .bureau {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20.8px;
}
.info-container .bureau img {
  width: 60px;
  height: 60px;
}
.info-container .question {
  text-transform: uppercase;
  margin-left: 5.5%;
  font: 18px AlmarenaDisplayRegular, sans-serif;
  margin-top: 7%;
  margin-bottom: 3%;
}
.info-container .reader {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.marginal-wrapper {
  -webkit-box-pack: justify;
  width: 100%;
  max-width: 1200px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 40px 0;
}
.marginal-content1 {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
.marginal-span {
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  align-items: center;
}
.shaper-span {
  color: black;
  font-size: 2.25em;
  font-family: AlmarenaDisplayBold, sans-serif;
  letter-spacing: -0.01em;
  font-weight: 700;
}
.black-span {
  background-color: #000000;
  width: 39px;
  height: 8px;
  margin-top: 10px;
}
.future-span {
  color: black;
  font-size: 2.25em;
  font-family: AlmarenaDisplayBold, sans-serif;
  letter-spacing: -0.01em;
  font-weight: 700;
}
.marginal-content2 {
  flex: 1 1 0%;
  font-family: EuclidLight, sans-serif;
  line-height: 24px;
  margin-left: 240px;
}
.marginal-p1,
.marginal-p2 {
  margin-top: 0;
  margin-bottom: 1em;
  padding: 15px 0px;
}
.finder {
  background-color: transparent;
  display: contents;
  text-decoration: none;
}
.finder-btn {
  border: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 20px 35px;
  background-color: black;
  color: white;
  transition: all 2s ease;
  cursor: pointer;
}
.finder-btn:hover {
  box-shadow: 1px 3px;
  opacity: 0.6;
}
